<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIY</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/home.css">
</head>
<body>
         <!--Toggle content-->
        <div class="container-fluid">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#" class="mt-5 border-bottom">
                    <img src="./assets/images/home.png" alt="home" width="30" height="30">                                     
                    Home
                </a>
                <a href="Genre.html" class="mt-5 border-bottom">
                    <img src="./assets/images/compass.png" alt="home" width="30" height="30">
                        Explore
                </a>
                <a href="#" class="mt-5 border-bottom"> 
                    <img src="./assets/images/profile.png" alt="home" width="30" height="30">
                    Profile
                </a></a>
                <a href="ExploreTwo.html" class="mt-5 border-bottom">
                    <img src="./assets/images/media.png" alt="home" width="30" height="30">
                    Library
                </a>
                <a href="#" class="mt-5 border-bottom">
                    <img src="./assets/images/chart.png" alt="home" width="30" height="30">
                Trending
                </a>
                <a href="#" class="mt-5 border-bottom">
                    <img src="./assets/images/settings.png" alt="home" width="30" height="30">
                    Setting
                </a>
            </div>
        </div>
        <!--navbar-->
        <div class="container navbar-cont">
            <div class="d-flex justify-content-between">
                    <div class="d-flex">
                            <div id="main" class="align-self-center">
                                <button class="openbtn " onclick="openNav()">
                                    <img src="./assets/images/menuTwo.png" alt="Menu icon" width="42px" height="42px">
                                </button>  
                            </div> 
                            <img src="./assets/images/logo2.png" class="align-self-center mx-5" width="144px" height="60px" alt="logo" />
                    </div>
                    <div class="align-self-center">
                            <input class="search rounded-pill" width="446px"  height="40px" type="search" placeholder="Search titles, people,genres.   🔍"  aria-label="Search">
                    </div>
                    <div class="d-flex align-self-center justify-content-around">
                        <label for="file">
                            <input type="file" class="file" id="file" style="display: none;">        
                            <img src="./assets/images/upload.png" class="bg-color" width="24px" height="24px" alt="upload icon"/>
                        </label>
                        <img src="./assets/images/notify.png" class="mx-3 bg-color" width="24px" height="24px" alt="notify icon"/>
                        <img src="./assets/images/profile.png" class="bg-color" width="24px" height="24px" alt="profile icon"/>
                    </div>
            </div>
        </div>
        <!--mobile navbar-->
        <div class="container Mobile">
                    <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex">
                                    <div id="main" class="align-self-center">
                                        <a href="#"> 🔙 put back arrow</a>  
                                    </div> 
                                    <img src="./assets/images/logo2.png" class="align-self-center" width="60px" height="29.21px" alt="logo" />
                            </div>
                            <div class="d-flex align-self-center justify-content-around">
                                <label for="file">
                                    <input type="file" class="file" id="file" style="display: none;">        
                                    <img src="./assets/images/upload.png" class="bg-color" width="24px" height="24px" alt="upload icon"/>
                                </label>
                                <img src="./assets/images/notify.png" class="mx-3 bg-color" width="24px" height="24px" alt="notify icon"/>
                                <img src="./assets/images/profile.png" class="bg-color" width="24px" height="24px" alt="profile icon"/>
                            </div>
                    </div>
                    <div class="align-self-center mt-4">
                            <input class="search searchbar" type="search" placeholder="Search titles, people,genres.   🔍"  aria-label="Search">
                    </div>
        </div>
        <!--content first row-->
        <div class="container mt-4">
            <h2 class="text-dark">Genre</h2>
                <div class="row"> 
                    <div class="col-12 col-lg-3 pt-2">
                        <div class="d-flex flex-column">
                            <span class="text-dark">Comedies</span>
                                <iframe width="260" height="315" class="explore--videos" src="https://www.youtube.com/embed/2gBvLjfUSy8" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 pt-3">
                        <div class="d-flex flex-column">
                            <span class="text-dark">Romance</span>
                            <iframe class="explore--videos"
                                src="https://www.youtube.com/embed/TcilGWIzvdE" 
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; 
                                encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 pt-3">
                        <div class="d-flex flex-column">
                            <span class="text-dark">Anime</span>
                            <iframe  class="explore--videos" src="https://www.youtube.com/embed/-mEX-QruiTc" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 pt-2"> 
                        <div class="d-flex flex-column">
                            <span class="text-dark">Sci-fi</span>
                                <iframe  class="explore--videos" src="https://www.youtube.com/embed/iLgiuEuhES8" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
        </div>
        <!--second row-->
        <div class="container mt-5">
                    <div class="row"> 
                            <div class="col-12 col-lg-3 pt-3">
                                <div class="d-flex flex-column">
                                <span class="text-dark">Action</span>
                                <iframe  class="explore--videos" src="https://www.youtube.com/embed/b0lw15lKJVM"
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                                picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 pt-3">
                            <div class="d-flex flex-column">
                                <span class="text-dark">horror</span>
                                <iframe  class="explore--videos" src="https://www.youtube.com/embed/FZAafmCPSjs" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 pt-3">
                            <div class="d-flex flex-column">
                                <span class="text-dark">Thrillers</span>
                                <iframe w class="explore--videos" src="https://www.youtube.com/embed/eGtF-zkeo9s" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 pt-3">
                            <div class="d-flex flex-column">
                                    <span class="text-dark">Music and musicals</span>
                                <iframe  class="explore--videos" src="https://www.youtube.com/embed/5x1FeyWYp9s" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
                            </div>
                        </div>
                    </div>
        </div>
        <!--third row-->
        <div class="container mt-5">
                <div class="row"> 
                    <div class="col-12 col-lg-4 mt-3">
                        <div class="d-flex flex-column">
                            <span class="text-dark">DIY</span>
                            <iframe class=" explore--videos" src="https://www.youtube.com/embed/-fjWwENVAHc" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class=" col-12 col-lg-4 mt-4">
                        <div class="d-flex flex-column">
                            <span class="text-dark">Education</span>
                            <iframe  class="pt-0 explore--videos" src="https://www.youtube.com/embed/AjgD3CvWzS0" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4">
                        <div class="d-flex flex-column">
                            <span class="text-dark">Documentaries</span>
                            <iframe  class="pt-0 explore--videos" src="https://www.youtube.com/embed/Y-uM7WVl8RA" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
        </div>
        <!--mobile page navigation-->
        <div class="mt-4  Mobile">
            <a href="" class=" text-dark fs-4 text-decoration-none btn rounded-pill bg-orange">
                More
             </a>
        </div>
        <!--mobile navbar-->
        <div class="container-fluid Mobile mt-4 bg-color--mobile-nav">
            <div class="d-flex justify-content-between">
                <a href="Home.html" class=" hover--mobile-nav mt-5 d-flex flex-column text-decoration-none">
                    <img src="./assets/images/home.png" class="align-self-center" alt="home" width="20.35px" height="22.09px">                                     
                    <p class="align-self-center text-white">Home</p>
                </a>
                <a href="Genre.html" class="hover--mobile-nav mt-5 d-flex flex-column text-decoration-none">
                    <img src="./assets/images/compass.png" class="align-self-center" alt="home" width="20.21px" height="23.33px">
                        <p class="text-white">Explore</p>
                </a>
                <a href="#" class="hover--mobile-nav mt-5 d-flex flex-column text-decoration-none"> 
                    <img src="./assets/images/profile.png" class="align-self-center"  alt="home" width="20.21px" height="23.33px">
                    <p class="text-white"> Profile</p>
                </a></a>
                <a href="#" class="hover--mobile-nav mt-5 d-flex flex-column text-decoration-none">
                    <img src="./assets/images/media.png" class="align-self-center" alt="home" width="20.21px" height="23.33px">
                    <p class="text-white">Library</p>
                </a>
                <a href="#" class="hover--mobile-nav mt-5 d-flex flex-column text-decoration-none">
                    <img src="./assets/images/chart.png" class="align-self-center" alt="home" width="20.21px" height="23.33px">
                    <p class="text-white">Trending</p>
                </a>
                <a href="#" class="hover--mobile-nav mt-5 d-flex flex-column text-decoration-none">
                    <img src="./assets/images/settings.png" class="bg-white align-self-center"  alt="home" width="20.21px" height="23.33px">
                    <p class="text-white">Setting</p>
                </a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="./assets/js/myscript.js"></script>
    </body>
</html>