<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
         <!--Toggle content-->
         <div class="container-fluid">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#" class="mt-5 border-bottom">
                    <img src="./image/home.png" alt="home" width="30" height="30">                                     
                    Home
                </a>
                <a href="Genre.html" class="mt-5 border-bottom">
                    <img src="./image/compass.png" alt="home" width="30" height="30">
                         Explore
                </a>
                <a href="#" class="mt-5 border-bottom"> 
                    <img src="./image/profile.png" alt="home" width="30" height="30">
                    Profile
                </a></a>
                <a href="#" class="mt-5 border-bottom">
                    <img src="./image/media.png" alt="home" width="30" height="30">
                    Library
                </a>
                <a href="#" class="mt-5 border-bottom">
                    <img src="./image/chart.png" alt="home" width="30" height="30">
                   Trending
                </a>
                <a href="#" class="mt-5 border-bottom">
                    <img src="./image/settings.png" alt="home" width="30" height="30">
                    Setting
                </a>
            </div>
        </div>
        <!--navbar-->
        <div class="container navbar-cont">
            <div class="d-flex justify-content-between navbar-container">
                    <div class="d-flex">
                            <div id="main" class="align-self-center">
                                <button class="openbtn" onclick="openNav()">
                                    <img src="./image/menuTwo.png" alt="Menu icon" width="42px" height="42px">
                                </button>  
                            </div> 
                            <img src="./image/logo2.png" class="align-self-center mx-5" width="144px" height="60px" alt="logo" />
                    </div>
                    <div class="align-self-center searchbox">
                            <input class="search rounded-pill search-bar" width="446px"  height="40px" type="search" placeholder="Search titles, people,genres." aria-label="Search">
                    </div>
                    <div class="d-flex align-self-center justify-content-around">
                        <label for="file">
                            <input type="file" class="bg-dark " id="file" style="display: none;">        
                            <img src="./image/upload.png" class="bg-color" width="24px" height="24px" alt="upload icon"/>
                        </label>
                        <img src="./image/radar.png" class="mx-3 bg-color new" width="24px" height="24px" alt="notify icon"/>
                        <img src="./image/notification.png" class="mx-3 bg-color" width="24px" height="24px" alt="notify icon"/>
                        <img src="./image/search (2).png" class="mx-3 bg-color new" width="24px" height="24px" alt="notify icon"/>
                        <img src="./image/tee.png" class="bg-color new" width="24px" height="24px" alt="profile icon"/>
                        <img src="./image/profile2.png" class="bg-color" width="24px" height="24px" alt="profile icon"/>

                    </div>
            </div>
        </div>
         <!--main-->
         <main>
             <!--First video row-->
            <div class="container mt-5">
                    <span class="d-flex justify-content-between">
                        <a class="d-flex align-content-center  text-decoration-none"> 
                                <img src="./image/upload.png" class="align-self-center bg-color" width="32px" height="32px" alt="upload icon"/> 
                                <h2 class="fw-bold align-self-center p-1 text-dark px-3">Your uploads</h2> 
                        </a>
                        <a class="text-center text-decoration-none">
                            <label for="file">
                                <input type="file" class="bg-dark " id="file" style="display: none;">        
                                <img src="./image/plus.png" width="32px" height="32px" alt="plus icon"/>
                            </label>
                            <p class="text-dark">New uploads</p>
                        </a>
                    </span>
                    <div class="row"> 
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe width="410px" height="200px" src="https://www.youtube.com/embed/elx0d4tLEU0" 
                                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Easy drawing</p>
                                            <span>
                                                <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                                <img src="./image/downloaddown.png" class="mx-1" alt="download icon" width="13.63px" height="17px"/>
                                            </span> 
                                    </div>
                                    <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                <iframe width="410px" height="200px" 
                                src="https://www.youtube.com/embed/Z-tWViGvrFc" title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Startup biz</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" class="mx-1" alt="download icon" width="13.63px" height="17px"/>
                                        </span> 
                                </div>
                                <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe  width="410px" height="200px" 
                                    src="https://www.youtube.com/embed/bMMBM6g7oTw" title="YouTube video player" frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">World travel</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" class="mx-1" alt="download icon"width="13.63px" height="17px"/>
                                        </span> 
                                    </div>
                                    <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                    </div>
            </div>
            <!--Second video row-->
            <div class="container mt-5">
                <span class="d-flex justify-content-between">
                    <a class="d-flex text-decoration-none align-content-center"> 
                            <img src="./image/download (2).png" class="align-self-center bg-color" width="32px" height="32px" alt="upload icon"/> 
                            <h2 class="px-2 text-dark">Top rated</h2> 
                    </a>
                    </span>
                    <div class="row"> 
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe   width="410px" height="200px"
                                    src="https://www.youtube.com/embed/zJ6rQmKVdrE" title="YouTube video player" frameborder="0" allow="accelerometer;
                                     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Forest hunt</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" alt="download icon" width="13.63px" height="17px"/>
                                        </span> 
                                </div>
                                <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe  width="410px" height="200px"
                                        src="https://www.youtube.com/embed/qgUcw7LhxeA" title="YouTube video player" frameborder="0" allow="accelerometer;
                                        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Best graduation</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" alt="download icon" width="13.63px" height="17px"/>
                                        </span> 
                                </div>
                                <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe  width="410px" height="200px"
                                    src="https://www.youtube.com/embed/as_5dxTdass" title="YouTube video player" frameborder="0" 
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Caps for me</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" alt="download icon" width="13.63px" height="17px"/>
                                        </span> 
                                </div>
                                <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                    </div>
            </div>
            <!--Third video row-->
            <div class="container mt-5">
                <span class="d-flex justify-content-between">
                    <a class="d-flex text-decoration-none align-content-center"> 
                            <img src="./image/download (2).png" class="align-self-center bg-color" width="32px" height="32px" alt="upload icon"/> 
                            <h2 class="text-dark px-2 align-self-center">Downloads</h2> 
                    </a>
                    </span>
                    <div class="row"> 
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe   width="410px" height="200px"
                                    src="https://www.youtube.com/embed/n3qw7lZzbkM" title="YouTube video player" frameborder="0" allow="accelerometer;
                                     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Birthday season</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" alt="download icon" width="13.63px" height="17px"/>
                                        </span> 
                                </div>
                                <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe   width="410px" height="200px"
                                    src="https://www.youtube.com/embed/2P3jnZ7Mf4c" title="YouTube video player" frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Desperate Lover</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" alt="download icon" width="13.63px" height="17px"/>
                                        </span> 
                                </div>
                                <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-4 pt-3">
                                    <iframe  width="410px" height="200px"
                                    src="https://www.youtube.com/embed/JxfneEvqT4I" title="YouTube video player" frameborder="0" 
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Home Decor</p>
                                        <span>
                                            <img src="./image/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                            <img src="./image/downloaddown.png" alt="download icon" width="13.63px" height="17px"/>
                                        </span> 
                                </div>
                                <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                            </div>
                    </div>
            </div>
         </main>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="./js/myscript.js"></script>
</body>
</html>