{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homeTwo</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'css/home.css' %} "/>
</head>
<body>
     <!--Toggle content-->
     <div class="container-fluid">
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="Home.html" class="mt-5 border-bottom">
                <img src="./assets/images/home.png" alt="home" width="30" height="30">                                     
                Home
            </a>
            <a href="Genre.html" class="mt-5 border-bottom">
                <img src="./assets/images/compass.png" alt="home" width="30" height="30">
                    Explore
            </a>
            <a href="#" class="mt-5 border-bottom"> 
                <img src="./assets/images/profile.png" alt="home" width="30" height="30">
                Profile
            </a></a>
            <a href="#" class="mt-5 border-bottom">
                <img src="./assets/images/media.png" alt="home" width="30" height="30">
                Library
            </a>
            <a href="#" class="mt-5 border-bottom">
                <img src="./assets/images/chart.png" alt="home" width="30" height="30">
            Trending
            </a>
            <a href="#" class="mt-5 border-bottom">
                <img src="./assets/images/settings.png" alt="home" width="30" height="30">
                Setting
            </a>
        </div>
    </div>
    <!--navbar-->
    <div class="container navbar-cont">
        <div class="d-flex justify-content-between">
                <div class="d-flex">
                        <div id="main" class="align-self-center">
                            <button class="openbtn" onclick="openNav()">
                                <img src="./assets/images/menuTwo.png" alt="Menu icon" width="42px" height="42px">
                            </button>  
                        </div> 
                        <img src="./assets/images/logo2.png" class="align-self-center mx-5" width="144px" height="60px" alt="logo" />
                </div>
                <div class="align-self-center">
                        <input class="search rounded-pill" width="446px"  height="40px" type="search" placeholder="Search titles, people,genres." aria-label="Search">
                </div>
                <div class="d-flex align-self-center justify-content-around">
                    <label for="file">
                        <input type="file" class="bg-dark " id="file" style="display: none;">        
                        <img src="./assets/images/upload.png" class="bg-dark " width="24px" height="24px" alt="upload icon"/>
                    </label>
                    <img src="./assets/images/notify.png" class="mx-3 bg-dark" width="24px" height="24px" alt="notify icon"/>
                    <img src="./assets/images/profile.png" class="bg-dark " width="24px" height="24px" alt="profile icon"/>
                </div>
        </div>
    </div>
    <!--navbar-->
     <!--mobile navbar-->
    <div class="container Mobile">
        <div class="d-flex justify-content-between mt-4">
                <div class="d-flex">
                        <div id="main" class="align-self-center">
                            <a href="Home.html"></a>  
                        </div> 
                        <img src="./assets/images/logo2.png" class="align-self-center" width="60px" height="29.21px" alt="logo" />
                </div>
                <div class="d-flex align-self-center justify-content-around">
                    <label for="file">
                        <input type="file" class="file" id="file" style="display: none;">        
                        <img src="./assets/images/upload.png" class="bg-color" width="24px" height="24px" alt="upload icon"/>
                    </label>
                    <img src="./assets/images/notify.png" class="mx-3 bg-color" width="24px" height="24px" alt="notify icon"/>
                    <img src="./assets/images/profile.png" class="bg-color" width="24px" height="24px" alt="profile icon"/>
                </div>
        </div>
        <div class="align-self-center mt-4">
                <input class="search searchbar" type="search" placeholder="Search titles, people,genres.   🔍"  aria-label="Search">
        </div>
    </div>
    <!--content-->
    <div class="container">
        <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 pt-3">
                                    <iframe class="video-two" src="https://www.youtube.com/embed/elx0d4tLEU0" 
                                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="d-flex justify-content-between mb-0">
                                        <p class="fs-4">Easy drawing</p>
                                            <span>
                                                <img src="./assets/images/clock.png" alt="clock icon" width="19.48px" height="20px"/>
                                                <img src="./assets/images/downloaddown.png" class="mx-1" alt="download icon" width="13.63px" height="17px"/>
                                            </span> 
                                    </div>
                                    <h6 class="mt-0 fs-6"><span class="border-end">Bayern Joe</span> 2k views</h6>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8 pt-3">
                    <div class="card text-dark bg-light mb-3">
                        <div class="card-header">Comments</div>
                        <div class="card-body d-flex">
                            <img src="./assets/images/profile2.png" class="bg-dark me-2" width="30px" height="30px" alt="profile2 icon"/>
                            <p class="card-text">I really enjoyed this movie..🥳</p>
                        </div>
                        <div class="card-body d-flex">
                            <img src="./assets/images/profile2.png" class="bg-dark me-2" width="30px" height="30px" alt="profile2 icon"/>
                            <p class="card-text">It was worth my while</p>
                        </div>
                        <div class="card-body d-flex">
                            <img src="./assets/images/profile2.png" class="bg-dark me-2" width="30px" height="30px" alt="profile2 icon"/>
                            <p class="card-text">Thank you colifix!!!..</p>
                        </div>
                        <input type="text" class="form-control" placeholder="📷" />
                    </div>
               </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="./assets/js/myscript.js"></script>
</body>
</html>