{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {% static 'css/landing_page.css' %} "/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img src="assets/images/header_logo.png" alt="" />
                </div>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    
                    <li>
                        <a href="#">Contact</a>
                    </li>

                    <li>
                        <a href="#">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="guest">Continue as guest</a>
                    </li>
                </ul>
            </nav>

            <div class="hero-section">
                <div class="left">
                    <h1>Watch amazing films and connect with College students</h1>
                    <p>
                        Colflix provides the best platform for college students to watch, share and upload short movies.
                    </p>
                    <a href="" class="sign-up">Sign Up</a>
                    <a href="" class="sign-in">Sign In</a>
                </div>

                <div class="right">
                    <img src="assets/images/Style.png" alt="" />
                </div>
            </div>
        </div>
    </header>

    <div class="movie-section">
        <h1>100+ short movies, 10+ new movies every week</h1>
        <p>Movies from any genre: action, fiction, drama, comedy ,etc</p>
        <img src="assets/images/arrow-left.png" class="left-arrow" alt="" />
        <div class="movie-left">
            <img src="assets/images/teens.png" class="teen1" alt="" />
            <img src="assets/images/teens.png" alt="" />
        </div>

        <div class="movie-right">
            <img src="assets/images/teens.png" class="teen1" alt="" />
            <img src="assets/images/teens.png" alt="" />
        </div>

        <img src="assets/images/arrow-right.png" class="right-arrow" alt="" />
        <h2>Search Movies From Any Genre</h2>
    </div>

    <div class="share-section">
        <div class="right-share">
            <h1>Share movies that you enjoy</h1>
            <p>Recommend good movies and share with other college students</p>
            <a href="" class="sign-up">Sign Up</a>
        </div>

        <div class="left-share">
            <img src="assets/images/rafiki.png" alt="" />
        </div>
    </div>

    <div class="review-section">
        <h1>Read reviews made by other college students</h1>

        <img src="assets/images/arrow-left.png" class="left-arrow" alt="" />
        <div class="review-left">
            <div class="poster">
                <div class="poster-left">
                    <img src="assets/images/poster.png" alt="" />
                </div>
                <div class="poster-right">
                    <h3>22ND CLASS</h3>
                    <div class="rating">
                        <p>Rating:</p>
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                    </div>
                    <p>BY SANDRA EMEH</p>
                    <p class="detail">
                        A very enjoyable movie packed with lots of interesting scenes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. .
                    </p>
                </div>
            </div>

            <div class="poster">
                <div class="poster-left">
                    <img src="assets/images/poster.png" alt="" />
                </div>
                <div class="poster-right">
                    <h3>22ND CLASS</h3>
                    <div class="rating">
                        <p>Rating:</p>
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                    </div>

                    <p>BY SANDRA EMEH</p>
                    <p class="detail">
                        A very enjoyable movie packed with lots of interesting scenes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. .
                    </p>
                </div>
            </div>
        </div>

        <div class="review-right">
            <div class="poster">
                <div class="poster-left">
                    <img src="assets/images/poster.png" alt="" />
                </div>
                <div class="poster-right">
                    <h3>22ND CLASS</h3>
                    <div class="rating">
                        <p>Rating:</p>
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                    </div>
                    <p>BY SANDRA EMEH</p>
                    <p class="detail">
                        A very enjoyable movie packed with lots of interesting scenes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. .
                    </p>
                </div>
            </div>

            <div class="poster">
                <div class="poster-left">
                    <img src="assets/images/poster.png" alt="" />
                </div>
                <div class="poster-right">
                    <h3>22ND CLASS</h3>
                    <div class="rating">
                        <p>Rating:</p>
                        <img src="assets/images/star.svg" alt="" />
                        <img src="assets/images/star.svg" alt="" />
                    </div>
                    <p>BY SANDRA EMEH</p>
                    <p class="detail">
                        A very enjoyable movie packed with lots of interesting scenes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. .
                    </p>
                </div>
            </div>
        </div>

        <img src="assets/images/arrow-right.png" class="right-arrow" alt="" />
        <div class="get-started">
            <h4>Create an account to get started</h4>
        </div>
    </div>

    <div class="streaming-section">
        <div class="left-streaming">
            <h1>The best streaming platform for college students</h1>
            <p>
                With Colflix you can watch movies uploaded by others and also upload your own to share with numerous students for free. Register today!
            </p>
            <a href="" class="sign-up">Sign Up</a>
        </div>

        <div class="right-streaming">
            <img src="assets/images/rafiki_night.png" alt="" />
        </div>
    </div>

    <footer>
        <div class="left-footer">
            <h3>COLFLIX</h3>
            <p>
                Colflix is a movie streaming platform that enables college students stream, share and upload short movies under 15mins while also providing features that promote interactions with other college students.
            </p>
            <img src="assets/images/facebook.png" alt="" />
            <img src="assets/images/insta.png" alt="" />
            <img src="assets/images/twitter.png" alt="" />
            <img src="assets/images/telegram.png" alt="" />

        </div>

        <div class="right-footer">
            <div class="site-map">
                <h3>SITEMAP</h3>
                <ul>
                    <li>
                        <a href="#">About Us</a>
                    </li>

                    <li>
                        <a href="#">Services</a>
                    </li>

                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="product">
                <h3>PRODUCT</h3>
                <ul>
                    <li>
                        <a href="#">Features</a>
                    </li>

                    <li>
                        <a href="#">Feedback</a>
                    </li>

                    <li>
                        <a href="#">Customers</a>
                    </li>
                </ul>
            </div>

            <div class="help">
                <h3>HELP</h3>
                <ul>
                    <li>
                        <a href="#">Getting Started</a>
                    </li>

                    <li>
                        <a href="#">FAQ</a>
                    </li>

                    <li>
                        <a href="#">Download</a>
                    </li>
                </ul>
            </div>
        </div>


    </footer>
    <div class="line">
        <img src="assets/images/line2.svg" alt="" />
    </div>

    <div class="footer-logo">
        <img src="assets/images/footer_logo.png" alt="" />
        <a href="" class="footer_sign-up">Sign Up</a>
    </div>
    <script src="script.js"></script>
</body>

</html>